html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.container {
    position: relative;
    z-index: 200;
    display: block;
    /*top: calc(100vh - 44px);*/
    top: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    text-align: center;
    /*display: flex;*/
    width: 100%;
    /*left: 0px;*/
    /*top: 50vh;*/
    /*margin-top: -20vh;*/
    margin-left: 0;
    /*margin-top: -16px;*/
    padding: 0;
    top: 0;
    left: 0;
}

.videoBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    /*background-color: rgba(0,0,0,0.25);*/
    width: 100%;
    /*height: calc(100vh - 44px);*/
    height: 100vh;
    margin: 0px;
    padding: 0px;
    top: 0px;
}

.menu video {
    position: fixed;
    /*top: calc(50% - 22px);*/
    top: 50%;
    left: 50%;
    min-width: 100%;
    /*min-height: calc(100vh - 44px);*/
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url('../video/tribe_background.jpg') no-repeat;*/
    background-size: cover;
}



.logo{
    /*display: flex;*/
    width: 50%;
    min-width: 50px;
    max-width: 350px;
    filter: drop-shadow(0 0 8px black);

}

.down-arrow {
    z-index: 1;
    display: block;
    position:  fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    /*  margin-top: 10vh; */
    animation: MoveUpDown 4s ease-in-out infinite;
    cursor: pointer;
    filter: drop-shadow(0 0 8px black);

}

.slogan {
    position: absolute;
    font-family: 'Montserrat';
    letter-spacing: 4.2px;
    font-weight: 300;
    color: white;
    filter: drop-shadow(0 0 8px black);
    text-transform: uppercase;
    /*font-size: 1.9vw;*/
    font-size: 20px;
    width: 90%;
    top: 75vh;
}

.navbar {
    background-color: rgba(0,0,0,1);
    top: 0;
    position: sticky;
    font-family: 'Montserrat';
    letter-spacing: 4.2px;
    font-weight: 300;
    text-transform: uppercase;
    /*font-size: 1.9vw;*/
    font-size: 20px;
    text-align: center;
}
.navbar-start {
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.navbar-item {
    list-style: none;
}
.navbar-item a {
    display: flex;
    display: -webkit-flex;

    height: 44px;
    width: 25vw;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

}
.navbar-item a:hover {
    color: black;
}



@keyframes MoveUpDown {
    0% {
        bottom: 65px;
    }
    10% {
        bottom: 55px;
    }
    60% {
        bottom: 65px;
    }
    70% {
        bottom: 55px;
    }
    100% {
        bottom: 65px;
    }
}